.header__ul {
  flex-grow: 1;
  a {
    color: white;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
  }
  a:hover {
    color: rgb(218, 216, 216);
  }
  }

.header__ul2 {
  li {
    font-size: 0.8em;
    list-style-type: none;
  }
}
